@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonte2.ttf');
}

@font-face {
    font-family: 'Titillium light';
    src: url('fonte4.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}
#fundo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

body {
    box-sizing: border-box;
    background: #d4efec;
    font-family: 'Roboto Slab';
    font: normal;
    font-size: 13px;

}

.tela{
    background-color: #f4f4f4;
    width: 350px;
    height: 640px;
    text-align: center;
    padding-top: 50px;
    border-radius: 34px;
}
#iconeLocal{
    width: 14px;
    height: 14px;
}

.local{
    font-size: 11px;
    color: rgb(167, 165, 165);
    margin: 3px;
}

#profissao{
    font-family: 'Titillium Web';
    font-size: 17px;
}

#iconeSair{
    width: 20px;
    height: 20px;
    position: relative;
    top: -70px;
    left: -90px;
}

#imagem{
    width: 100px;
    height: 100px;
    border-radius: 360px;
    margin-right: 20px;
    margin-bottom: 3px;
}

#botao{
    background-color: #f22771;
    color: #fff;
    font-family: 'Roboto Slab';
    font-size: 15px;
    width: 220px;
    height: 38px;
    border-radius: 18px;
    align-items: center;
    border-color: white;
    margin-top: 13px;
    margin-bottom: 25px;
}

.settings{
    background-color: #fff;
    text-align: left;
    font-family: 'Titillium light';
    font-size: 15px;
    height: 361px;
    padding-top: 16px;
    padding-left: 35px;
    border-radius: 34px;
}
.settings h1{
    font-size: 24px;
    font-family: 'Roboto Slab';
    font: normal;
}

#item1{
    margin-top: 8px;
    margin-bottom: 25px;
    display: flex;
}

#textoDark{
    padding-top: 8px;
}

#iconeDark{
    background-color: black;
    border-radius: 366px;
    width: 27px;
    height: 27px;
    position: relative;
    top: 5px;
}

#iconeBotao{
    position: relative;
    left: 140px;
    top: 8px;
}

#item2{
    margin-top: 12px;
    display: flex;
}
#iconeNotificacao{
    width: 27px;
    height: 27px;
}

#iconeBotaoOn{
    position: relative;
    width: 30px;
    height: 20px;
    left: 130px;
    top: 5px;
}

#item3{
    margin-top: 12px;
    display: flex;
}
#iconePrivacidade{
    width: 27px;
    height: 27px;
}

#item4{
    margin-top: 12px;
    display: flex;
}

#item5{
    margin-top: 25px;
    display: flex;
}

#item6{
    margin-top: 12px;
    display: flex;
}

#item7{
    margin-top: 12px;
    display: flex;
}

#iconeBotaoSeta3{
    margin-left: 185px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
}
#iconeBotaoSeta4{
    margin-left: 183px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
}
#iconeBotaoSeta5{
    margin-left: 184px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
}
#iconeBotaoSeta6{
    margin-left: 205px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
}
#iconeBotaoSeta7{
    margin-left: 195px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

.texto{
    padding-left: 8px;
}